
# BSPWM
/BSPWM/sxhkdrc

# Mutt
/Mutt/muttrc
/Mutt/mutt/cache
/Mutt/mutt/stayradiated.account
/Mutt/mutt/czabania.account

# Vim
/Vim/bundle/*
/Vim/tmp
/Vim/.netrwhist

# Fonts
/Fonts/tamzen
/Fonts/yrmt
/Fonts/sm4tik
