# vim
/apps/vim/dein/*
/apps/vim/tmp/*
/apps/vim/undo/*
/apps/vim/.netrwhist

# weechat
/apps/weechat/passphrase_file
/apps/weechat/logs
/apps/weechat/perl
/apps/weechat/python
/apps/weechat/*.log
/apps/weechat/message.txt

# backup files
*.bak

# ranger plugins
__pycache__
